<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Village: Login Page</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/logo-nav.css" rel="stylesheet">

    <!-- Custom styles for login forms -->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- Meta tags for SEO -->
    <meta name="description" content=" The Companion Bot for your Child ">
    <meta name="keywords" content="village, villag, boys, boy, children, girl, child, girls, chat, bot, robot, chatbot, hackathon, goodienation, aasim, alex, tai, audrey"/>

    <!-- Load jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
      var onLoad;
      onLoad = <%- locals.onLoad %>
      console.log("onLoad: ");
      console.log(onLoad);
      </script>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-village-blue fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="images/logoWhiteCrisp.png" width="150" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <h1 class="mt-5">Welcome to Village!</h1>
      <div class="form text-center">
      <form class="login-form" method = "post" action = "/loginForm">
          <input type="text" placeholder="name" name = "email"/>
          <input type="password" placeholder="password" name = "password"/>
          <button type = "submit">Sign In</button>
          <p class="left col-xs-4 guest_page"><a href="#">Back to Guest Page</a></p>
          <p class="right col-xs-offset-6 register_page"><a href="#">Register as New</a></p>
        </form>
        <!-- form everyone sees -->
        <form class="guest-form" method = "post" action="/search">
          <div class = "guest-2">
          <p class="left login_page"><a href="#" class = "btn btn-primary">Login</a> </p>
          <p class="register_page"> <a href="#" class="btn btn-warning"> Not registered? Create an account</a></p>
        </div>
        </form>
        <!-- registration form -->
        <form class = "register-form" action="/registerForm" method="post">
        <br> <br> <br> <br> <br> <br><br> <br><br> <br>
        <h1>REGISTER</h1>
                 <div class="form-group">
        <div class="row">
          <input class="input" type="text"  style="width: 49%; font-size: 20px;" name="first_name" placeholder = "First Name" required>
          <input class="input" type="text" style="width: 49%; font-size: 20px;" name="last_name" placeholder = "Last Name" required>
        </div>
                      <input type="email" class="form-control" name="email" placeholder="Email Address" required>
                      <input type="password" class="form-control" name="password" placeholder="Password" required>
                      <input type="text" class="form-control" name="child_name" placeholder="Child's Name" required>
          <input type="text" class="form-control" name="relationship" placeholder="Relationship to child (Mom, Dad, etc.)" required>
          <br>
          <p class="go-to-second-register-form col-xs-12 text-center">
                    <button type = "submit">Register</button>
                    <p class="guest_page"> <a href="#" class="btn btn-warning">Back to login page</a></p>
                  </div>
      </form>
      <!-- second registration form -->
        <form class = "register-form-2" action="#" method="post">
          <br> <br> <br> <br> <br> <br><br> <br><br> <br>
          <h1>REGISTER</h1>
             <div class="form-group">
                <p style="color: white; font-size: 24px;"> HI NAME </p>
              <input type="text" class="form-control" name="childsName" placeholder="Enter your login name">
              <input type="password" class="form-control" name="password" placeholder="Password">
              <br>
              <button id="form-group" class="form-control" type="submit">Sign Up!</button>
              <p class="back-to-guest col-xs-12 text-center"><a href="#"> Back to guest page</a></p>
            </div>
      </form>
    </div>
    <!-- /.container -->

    <!-- Form JavaScript logic -->
    <script src="./js/form.js"></script>


  </body>

</html>
